body {
	background-image: url("../images/entry.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'IM Fell Double Pica', serif;
}

h1 {
	margin-bottom: 10px;
}

h2 {
	font-size: 24px;
}

li {
	font-size: 20px;
	padding-bottom: 10px;
}

button {
	font-size: 20px;
	font-weight: bold;
	color: black;
}

.jumbotron {
	background-color: silver;
	border: 5px double black;
	width: 60%;
	height: 500px;
	margin-left: 20%;
	margin-top: 50px;
}

#timerSpace {
	margin-bottom: 15px;
}

#answersBox {
	visibility: hidden;
}

#question {
	line-height: 1.5;
}