body {
	background-image: url("../images/entry.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'IM Fell Double Pica', serif;
}

h1 {

}

.jumbotron {
	background-color: silver;
	width: 60%;
	height: 500px;
	margin-left: 20%;
	margin-top: 50px;
}

#answersBox {
	visibility: hidden;

}